[Unit]
Description=TUXEDO Control Center Service

[Service]
Type=simple
ExecStart=/opt/tuxedo-control-center/resources/dist/tuxedo-control-center/data/service/uccd --start
ExecStop=/opt/tuxedo-control-center/resources/dist/tuxedo-control-center/data/service/uccd --stop

[Install]
WantedBy=multi-user.target
